<body>
    <div id="wrapper">
        <div class="jumbotron">
            <h1 id="good-vibes">Good Vibe News Jive</h1>
        </div>
        <h2>
            <i></i>
        </h2>
        <div id="articles"></div>
        <div id="notes"></div>
    </div>

</body>